#testfenster{
    background: white;
    height:100%;
    min-height: 100%;
}

#testfenster.titlebar {
    background: none;
    border: none;
}

#testfenster .page-top {
    margin-left: 120px;
    background-color: white;
}

#testfenster.inner-body {
    padding-top: 100px;
}

#testfenster .question-angles {
    position: relative;
    top: 0.5rem;
    font-size: 4rem;
}
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.radio label input[type="radio"] {
    display: none;
}

.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.testfensterswitch .btn-group, .btn-group-vertical {
    height:5%;
    margin-left:3rem;
    margin-top:10px;
    padding: 20px;
}


.testfensterswitch .btn-primary {
    background-color: white;
    border-color:#133E5C;
}

.testfensterswitch .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
    background-color: #133E5C;
    border-color: #133E5C;
}

.testfensterswitch .switchlink {
    color: #133E5C;
}

.testfensterswitch .active .switchlink {
    color: #FFFFFF;
}
