#secondSidebarContacts {
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    width: auto;
    position: fixed;
    padding-top: 10px;
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
#secondSidebarContacts ul {
    padding-left: 0px;
    border-color: #4b5257;

}
#secondSidebarContacts li {
    list-style: none;
}
#secondSidebarContacts ul li a{
    padding-left: 30px;
    text-decoration: none;
}
#secondSidebarContacts ul li p{
    text-align: center;
    border-top: 1px solid #4b5257;
    border-bottom: 1px solid #4b5257;
    color: black;
    margin: 0px;
}

/* contactlist hover color*/
#secondSidebarContacts .card-item:hover {
    background-color: #ccd9e4;
}
/* Scroll bar Kontaktliste */
.contact-sidebar{
    overflow-y: scroll;
}

/* Kontaktliste text color*/
#secondSidebarContacts a.nav-link {
    color: BLACK;
}

/***** HEADER *****/

#contacts .titlebar {
    background: #EFEFEF;
    border: none;
}

#contacts .page-top {
    margin-left: 60px;
    background-color: #EFEFEF;
}
@media(min-height: 720px) {
    #contacts .page-top {
        margin-left: 120px !important;
    }
}
@media(min-height: 600px) {
    #contacts .page-top {
        margin-left: 100px;
    }
}
/***** SUCHLEISTE *****/
/*  Filter by und Such Button */
.input-group-btn .btn-default {
    background-color: #c9c8c8;
    border-color: #4b5257;
}
.input-group-btn .form-control{
    border-color: #4b5257;
}

/* Dropdown Menu Suchleiste Links */
.input-group-btn ul li a {
    color: #4b5257;
    text-decoration: none;
}

.input-group-btn ul li:hover{
    background-color: #FFFFFF;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #EFEFEF;
    text-decoration: dotted;
    border-color: #4b5257;
}
/* Add Button */
#contacts .btn-success{
    background-color: #133e5c ;
}

#contacts .btn-danger{
    background-color: #e84a29 ;

}

.star {
    font-size: 50px;
    color:gold;
}

/* Kontaktbild */
/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 10px;
}

.profile-header-img > img.img-circle {
    width: 80px;
    height: 80px;
}

.profile-header {
    margin-top: 10px;
}
.row header{
    background-color: #4b5257;
}


.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}


#contacts .checkbox .cr .cr-icon {
    position: absolute;
    font-size: 1.3em;
    line-height: 0;
    top: 0%;
    left: 0%;
}


.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr{
    opacity: .5;
}