#sidebar-wrapper {
    /*background-color: #10364f;*/
    background-color: #133E5C;
    height: 100%;
    width: 120px;
    padding: 0;
    position:fixed;
}

.sidebar-nav {
/*    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

#sidebar-brand {
    padding-bottom: 2rem;
}

#sidebar-wrapper ul li {
    list-style: none;
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-top: solid 1px #0d2b40;
    /*background-color: #133E5C;*/
    transition: background-color .2s ease-in; /* explorer 10 */
    -webkit-transition: background-color .2s ease-in; /* chrome & safari */
    -moz-transition: background-color .2s ease-in; /* firefox */
    -o-transition: background-color .2s ease-in; /* opera */
}

#sidebar-wrapper ul li:last-child {
    border-bottom: solid 1px #0d2b40;
}


#sidebar-wrapper ul li:hover {
    background-color: #185077;
    transition: background-color .2s ease-in; /* explorer 10 */
    -webkit-transition: background-color .2s ease-in; /* chrome & safari */
    -moz-transition: background-color .2s ease-in; /* firefox */
    -o-transition: background-color .2s ease-in; /* opera */
}


#sidebar-wrapper ul li a {
    text-decoration: none;
    color: white;
}

#dashboard {
    margin-left: 120px;
}

.nav-icon {
    line-height: 0.8;
    padding-bottom: 0.2rem;
}

.icon-home {
    font-size: 65px;
}

.icon-folder {
    font-size: 55px;
}

.icon-file-text {
    font-size: 50px;
}

.icon-users {
    font-size: 45px;
}

.icon-calendar-1 {
    font-size: 50px;
}