
/*switchLink*/

#library .btn-group, .btn-group-vertical {
    height:5%;
    margin-left:3rem;
    margin-top:10px;
    padding: 20px;
}


#library .btn-primary {
    background-color: white;
    border-color:#133E5C;
}

#library .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
    background-color: #133E5C;
    border-color: #133E5C;
}

#library .switchlink {
    color: #133E5C;
}

#library .active .switchlink {
    color: #FFFFFF;
}


