#singleproject .nav-tabs {
    /*border-bottom: solid 5px #e84a29;*/
    border-bottom: solid 5px #133e5c;
}

@media(min-width: 992px) {
    #singleproject .nav-tabs .nav-item {
        background-color: #eaeaea;
        color: black;
        border: 1px solid #0000001a;
        border-bottom: none;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0;
        -webkit-border-top-left-radius: 50px !important;
        border-top-left-radius: 50px !important;
        -webkit-border-top-right-radius: 50px !important;
        border-top-right-radius: 50px !important;
        /*
    -webkit-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);*/
    }

    #singleproject .nav-tabs .nav-item .active {
        background-color: #133e5c;
        color: white;
        border: 0;
        -webkit-border-top-left-radius: 50px !important;
        border-top-left-radius: 50px !important;
        -webkit-border-top-right-radius: 50px !important;
        border-top-right-radius: 50px !important;
    }
}

#singleproject .nav-tabs .nav-item {
    background-color: #eaeaea;
    color: black;
    border: 1px solid #0000001a;
    border-bottom: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom: 0;
    /*
    -webkit-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);*/
}

#singleproject .nav-tabs .nav-item .active {
    background-color: #133e5c;
    color: white !important;
    border: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

#singleproject .nav-tabs .nav-item .nav-link {
    color: black;
}

#singleproject .nav-link {
    border: 0;
}

#singleproject .titlebar {
    background: none;
    border: none;
}

#singleproject .page-top {
    margin-left: 60px;
    background-color: white;
}


@media(min-height: 720px) {
    #singleproject .page-top {
        margin-left: 120px !important;
    }
}


@media(min-height: 600px) {
    #singleproject .page-top {
        margin-left: 100px;
    }
}

#singleproject .inner-body {
    padding-top: 100px;
}

#singleproject .project-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    position:fixed;
    right:0;
    width: 23%;
    /*right: -3rem;*/
}

/*
#singleproject .goals {
}

#singleproject .goals .pl-5 {
    position:fixed;
    bottom: 0;
}
*/

#singleproject .question-angles {
    position: relative;
    top: 0.9rem;
    font-size: 3rem;
}

#singleproject hr {
    margin-bottom: 0;
}

#singleproject .headline {
    font-size: 24px;
}

#singleproject .protokollant-card {
    border: 1px solid #0000001a;
    -webkit-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
}

#singleproject .protokollant-container {
    overflow-y: scroll;
}


.aufgabenfeld {
    height: 240px !important;
}

.teammember {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.teammember:hover {
    background-color: #ecdcd7;
}

.inner-sidebar-button {
    border-radius: 30px;
}

.body-allgemein {
    overflow-y: scroll;
}