#login {
    background: #EFEFEF;
    height:100%;
    min-height: 100%;
}

#login .container-fluid {
    height: 100%;
}

.white {
    background-color: white;
}
#login .form-group {
    color: gray;
    background-color: white;
    border-color: gray;
}

.login-hyperlink {
    color: #103e5c !important;
}

.login-hyperlink:hover {
    color: #103e5c;
    text-decoration: underline;
}

