.navigation-blue {
    color:#133e5c
}

.dashboard_button_orange {
    color:#e84a29
}

.step-orange-bg {
    background-color: #e84a29;
}

.grey {
    color:#eaeaea;
}

.darkgrey-bg {
    background-color:#636c72;
}

.c-einverst {
    color: #5cb85c;
}

.c-skript {
    color: #906fc4;
}

.c-bericht {
    color: #d87f8c;
}

.c-plan {
    color: #7cbed8;
}

.c-protokoll {
    color: #e3d15f;
}
