#singleproject .nav-tabs {
    /*border-bottom: solid 5px #e84a29;*/
    border-bottom: solid 5px #133e5c;
}

@media(min-width: 992px) {
    #singleproject .nav-tabs .nav-item {
        background-color: #eaeaea;
        color: black;
        border: 1px solid #0000001a;
        border-bottom: none;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0;
        -webkit-border-top-left-radius: 50px !important;
        border-top-left-radius: 50px !important;
        -webkit-border-top-right-radius: 50px !important;
        border-top-right-radius: 50px !important;
        /*
    -webkit-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);*/
    }

    #singleproject .nav-tabs .nav-item .active {
        background-color: #133e5c;
        color: white;
        border: 0;
        -webkit-border-top-left-radius: 50px !important;
        border-top-left-radius: 50px !important;
        -webkit-border-top-right-radius: 50px !important;
        border-top-right-radius: 50px !important;
    }
}

#singleproject .nav-tabs .nav-item {
    background-color: #eaeaea;
    color: black;
    border: 1px solid #0000001a;
    border-bottom: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin-bottom: 0;
    /*
    -webkit-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);*/
}

#singleproject .nav-tabs .nav-item .active {
    background-color: #133e5c;
    color: white !important;
    border: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

#singleproject .nav-tabs .nav-item .nav-link {
    color: black;
}

#singleproject .nav-link {
    border: 0;
}

#singleproject .titlebar {
    background: none;
    border: none;
}

#singleproject .page-top {
    margin-left: 60px;
    background-color: white;
}


@media(min-height: 720px) {
    #singleproject .page-top {
        margin-left: 120px !important;
    }
}


@media(min-height: 600px) {
    #singleproject .page-top {
        margin-left: 100px;
    }
}

#singleproject .inner-body {
    padding-top: 100px;
}

#singleproject .project-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    position:fixed;
    right:0;
    width: 23%;
    /*right: -3rem;*/
}

/*
#singleproject .goals {
}

#singleproject .goals .pl-5 {
    position:fixed;
    bottom: 0;
}
*/

#singleproject .question-angles {
    position: relative;
    top: 0.9rem;
    font-size: 3rem;
}

#singleproject hr {
    margin-bottom: 0;
}

#singleproject .headline {
    font-weight: bold;
}

#singleproject .protokollant-card {
    border: 1px solid #0000001a;
    -webkit-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
}

#singleproject .protokollant-container {
    overflow-y: scroll;
}


.aufgabenfeld {
    height: 240px !important;
}

.teammember {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all .2s ease-in; /* explorer 10 */
    -webkit-transition: all .2s ease-in; /* chrome & safari */
    -moz-transition: all .2s ease-in; /* firefox */
    -o-transition: all .2s ease-in; /* opera */
}

.teammember:hover {
    background-color: #ccd9e4;
    transition: all .1s ease-in; /* explorer 10 */
    -webkit-transition: all .1s ease-in; /* chrome & safari */
    -moz-transition: all .1s ease-in; /* firefox */
    -o-transition: all .1s ease-in; /* opera */
}

.item-hover {
    z-index: 1;
    transition: background-color .2s ease-in; /* explorer 10 */
    -webkit-transition: background-color .2s ease-in; /* chrome & safari */
    -moz-transition: background-color .2s ease-in; /* firefox */
    -o-transition: background-color .2s ease-in; /* opera */
}

.item-hover:hover {
    background-color: #eaeaea;
    transition: background-color .1s ease-in; /* explorer 10 */
    -webkit-transition: background-color .1s ease-in; /* chrome & safari */
    -moz-transition: background-color .1s ease-in; /* firefox */
    -o-transition: background-color .1s ease-in; /* opera */
}

.item-hover:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inner-sidebar-button {
    border-radius: 30px;
}

.body-allgemein {
    overflow-y: scroll;
}

.icon-play {

    vertical-align: -1px;
}

.icon-align {
    vertical-align: -2px;
}

.top-line {
    border-top: 1px solid #0000001a;
}

.links-noblue a {
    text-decoration: none;
    color: black;
}

.links-noblue a:hover {
    text-decoration: none;
    color: #6d767d;
}

.link-noblue {
    text-decoration: none;
    color: black;
}

.link-noblue:hover,
.link-noblue:focus,
.link-noblue:active {
    text-decoration: none;
    color: #6d767d;
}


@media (min-width: 992px) {
    #content-allgemein,
    #content-aufgaben,
    #content-unterlagen,
    #sidebar-allgemein,
    #sidebar-aufgaben,
    #sidebar-unterlagen {
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #sidebar-allgemein {
        right:0;
    }
}

.dropdown-menu {
    background-color: white;
    border: 1px solid #ddd;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
}

.dropdown-menu-right {
    margin-right: 1rem;
}

.dropdown-menu li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    transition: background-color .2s ease-in; /* explorer 10 */
    -webkit-transition: background-color .2s ease-in; /* chrome & safari */
    -moz-transition: background-color .2s ease-in; /* firefox */
    -o-transition: background-color .2s ease-in; /* opera */
}

.dropdown-menu li:hover {
    background-color: #f3f3f3;
    transition: background-color .1s ease-in; /* explorer 10 */
    -webkit-transition: background-color .1s ease-in; /* chrome & safari */
    -moz-transition: background-color .1s ease-in; /* firefox */
    -o-transition: background-color .1s ease-in; /* opera */
}

.dropdown-menu li:hover:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f3f3f3;
    transition: background-color .1s ease-in; /* explorer 10 */
    -webkit-transition: background-color .1s ease-in; /* chrome & safari */
    -moz-transition: background-color .1s ease-in; /* firefox */
    -o-transition: background-color .1s ease-in; /* opera */
}

.dropdown-menu li:hover:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f3f3f3;
    transition: background-color .1s ease-in; /* explorer 10 */
    -webkit-transition: background-color .1s ease-in; /* chrome & safari */
    -moz-transition: background-color .1s ease-in; /* firefox */
    -o-transition: background-color .1s ease-in; /* opera */
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.scenario-container {
    list-style: none !important;
}

ol.scenario-container li {
    list-style: none;
    /** More li styles **/
}

