* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.titlebar {
    background-color: #eaeaea;
    border-bottom: solid 1px #ccc;
}

h1 {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 0;
}