#switch .nav-link a:focus, #switch .nav-link.active{
    font-weight: bold !important;
    background-color: #185077 !important;
    color: white;
}
#switch .nav-link {
    background-color: white;
}

#library th, #templates th{
    width:30%;
}

#switch .nav-item{
    width:100px;

}

#switch .nav-item:hover{
    background-color: transparent !important;
}

#switch .nav-link{
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#switch a{
    text-align: center;
}

#library .panel-group{
    padding-top:20px;
}