.navigation-blue {
    color:#133e5c
}

.dashboard_button_orange{
    color:#e84a29
}

.grey{
    color:#eaeaea
}

.c-einverst {
    color: #5cb85c;
}

.c-skript {
    color: #906fc4;
}

.c-bericht {
    color: #d86e60;
}

.c-plan {
    color: #7cbed8;
}

.c-protokoll {
    color: #e3d15f;
}
