
#sidebarTemplates {
    background-color: #EFEFEF;
    height:100%;
    width: 25%;
    position: fixed;
    margin-left: -15px;
    border-right: solid 1px lightgrey;
}

/*border of tabs*/
#sidebarTemplates .nav-item {
    border-bottom: solid 1px;
    border-bottom-color: lightgrey;
}

/*2 second navbar text color*/
#sidebarTemplates a.nav-link {
    color: BLACK;
}

/* second navbar hover color*/
#sidebarTemplates.nav-item:hover {
    background-color: #e84a29;
}

@media (min-height: 720px) {
    #templates .page-top {
        margin-left: 120px !important;
    }
}

@media (min-height: 600px) {
    #templates .page-top {
        margin-left: 100px;
    }
}

#templates .panel-body:hover, .panel-footer:hover {
    background-color: #ccd9e4;
}

#templates .panel-title {
    font-weight: normal;
}

#templates .panel-group{
    margin-top:20px;
}

#templates .on{
    text-decoration: none;
    font-weight: bold;
}
#templates .panel-body a:hover, .panel-heading a:hover{
    font-weight: bold ;
}

#templates .collapsed, .panel-body a{
    text-decoration: none;
}

#templates .panel-body a , .panel-heading a{
    font-size: 1rem;
    line-height: 1.5;
    color: BLACK ;
    font-family: 'Lato', sans-serif ;
    -webkit-font-smoothing: antialiased;
    padding-left:20px;
}

#templates .collapse.show {
    background-color: white;

}

#templates table {
    margin-top: 6rem;
    margin-left: -2rem;
    border: solid 1px lightgrey;
}

#templates th {
    background: #EFEFEF;
    -webkit-border-radius: 0 0 0 0;
}

#templates tr{
    border-bottom: lightgrey solid 1px;
}

#templates .table-bordered td, .table-bordered th{
    border: solid 1px lightgrey;
}

#templates .btn-group, .btn-group-vertical {
    height:5%;
    margin-left:3rem;
    margin-top:10px;
}


#templates .btn-primary {
    background-color: transparent;
    border-color:#133E5C;
    color: #133E5C;
}

#templates .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
    background-color: #133E5C;
    border-color: #133E5C;
    color:white;
}

