.btn-submit-orange{
    color: #fff;
    background-color: #e84a29;
    border-color: #e84a29;
}

.btn-submit-orange:hover{
    color: #fff;
    background-color: #ff512d;
    border-color: #ff512d;
}

.btn-submit-blue{
    cursor:pointer;
    color: #fff;
    background-color: #133E5C !important;
    border-color: #113650 !important;
}

.btn-submit-blue:hover{
    color: #fff;
    background-color: #185077 !important;
    border-color: #133E5C !important;
}

.btn-submit-grey{
    color: #000;
    background-color: #cfcfcf;
    border-color: #c4c4c4;
}

.btn-submit-grey:hover{
    color: #000;
    background-color: #dcdcdc;
    border-color: #d4d4d4;
}