#contacts {
    background: white;
    height:100%;
    min-height: 100%;
}

#contacts .container-fluid {
    height: 100%;
}
#secondSidebarContacts {
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    width: 25%;
    position: fixed;
}
#secondSidebarContacts::-webkit-scrollbar{

}

.scrollbar
{
    margin-left: 0px;
    float: left;
    height: 900px;
    width: 350px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
    min-height: 950px;
}

#wrapper
{
    text-align: center;
    width: 500px;
    margin: auto;
}
/*2 second navbar text color*/
#secondSidebarContacts a.nav-link {
    color: BLACK;
}

/* second navbar hover color*/
#secondSidebarContacts .card-item:hover {
    background-color: #ccd9e4;
}

.white {
    background-color: white;
}

.img-placeholder {
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    vertical-align:middle;
    color:white;
}


.contact label{
    padding: inherit;

}

/* Suchfeld */

.input-group-btn{
    background-color: #EFEFEF;
}

.input-group-btn ul li a {
    color: #4b5257;
    text-decoration: none;
}


.input-group-btn ul li:hover{
    background-color: #FFFFFF;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #D2D2D2;
    text-decoration: none;
}

/* Kontaktbild */
/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 10px;
}

.profile-header-img > img.img-circle {
    width: 80px;
    height: 80px;
}

.profile-header {
    margin-top: 10px;
}
.row header{
    background-color: #4b5257;
}