
#secondSidebar {
    background-color: #EFEFEF;
    height: 100%;
    width: 25%;
    position: fixed;
    margin-left: -15px;
}

#secondSidebar .nav-item{
    border-bottom: solid 1px;
    border-bottom-color: lightgrey;
}

/*2 second navbar text color*/
#secondSidebar a.nav-link {
    color: BLACK;
}

#settings a:hover{
    background-color: #ccd9e4;
}
#settings a:active,
#settings a:focus{


    font-weight: bold !important;
    text-decoration: none !important;
    background-color: #185077;
    color: white;
}

#settings .page-top {
    margin-left: 60px;
    background-color: white;
}


@media(min-height: 720px) {
    #settings .page-top {
        margin-left: 120px !important;
    }
}


@media(min-height: 600px) {
    #settings .page-top {
        margin-left: 100px;
    }
}


#settings .tab-content {
    margin-left:30px;
}

#settings .form-group {
    margin-top: 50px;
}


#settings #buttonPassword{
    margin-top: 30px;
}

