#secondSidebar {
    background-color: #EFEFEF;
    height: 100%;
    width: 25%;
    position: fixed;
    padding:15px;
    margin-left:-15px;
}

/*2. Navigationsleiste Textfarbe*/
a.nav-link {
    color: BLACK;
    }

/*2.Navigationsleiste*/
.card-item:hover{
    background-color: #e84a29;
}



