.sidebar-wrapper {
    /*background-color: #10364f;*/
    background-color: #133E5C;
    height: 100%;
    width: 60px;
    padding: 0;
    top:0;
    position:fixed;
}

.sidebar-brand {
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.sidebar-wrapper ul li {
    height: 60px;
    list-style: none;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: solid 1px #0d2b40;
    transition: background-color .2s ease-in; /* explorer 10 */
    -webkit-transition: background-color .2s ease-in; /* chrome & safari */
    -moz-transition: background-color .2s ease-in; /* firefox */
    -o-transition: background-color .2s ease-in; /* opera */
}

.sidebar-wrapper ul li:last-child {
    border-bottom: solid 1px #0d2b40;
}

.nav-icon {
    padding-top: 0.5rem;
}

.nav-text {
    display: none;
}

.sidebar-wrapper ul li:hover {
    background-color: #185077;
    transition: background-color .1s ease-in; /* explorer 10 */
    -webkit-transition: background-color .1s ease-in; /* chrome & safari */
    -moz-transition: background-color .1s ease-in; /* firefox */
    -o-transition: background-color .1s ease-in; /* opera */
}

.sidebar-wrapper ul li a {
    text-decoration: none;
    /*color: #7792b2;*/
    color: white;
}

.sidebar-wrapper ul li a .active {
    color: white;
}

.page-content {
    margin-left: 60px;
}

.sidebar-nav .icon-home {
    margin-top: -4px;
    font-size: 25px;
}

.sidebar-nav .icon-folder {
    font-size: 20px;
}

.sidebar-nav .icon-file-text {
    font-size: 19px;
}

.sidebar-nav .icon-users {
    font-size: 18px;
}

.sidebar-nav .icon-calendar-1 {
    font-size: 20px;
}

@media (min-height: 600px) {
    .sidebar-wrapper {
        width: 100px;
    }

    .sidebar-brand {
        padding: 1.5rem;
    }

    .sidebar-wrapper ul li {
        height: 100px;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .nav-text {
        display: block;
    }

    .page-content {
        margin-left: 100px;
    }

    .nav-icon {
        padding-top:0;
        line-height: 0.8;
    }

    .sidebar-nav .icon-home {
        font-size: 40px;
        margin-top: -3px;
    }

    .sidebar-nav .icon-folder {
        font-size: 35px;
    }

    .sidebar-nav .icon-file-text {
        font-size: 40px;
    }

    .sidebar-nav .icon-users {
        font-size: 35px;
    }

    .sidebar-nav .icon-calendar-1 {
        font-size: 40px;
    }

    .tooltip {
        display: none !important;
    }
}

@media (min-height: 720px) {
    .sidebar-wrapper {
        width: 120px;
    }

    .sidebar-brand {
        padding: 1.5rem;
    }

    .sidebar-wrapper ul li {
        height: 120px;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .nav-text {
        display: block;
    }

    .page-content {
        margin-left: 120px;
    }

    .nav-icon {
        padding-top:0;
        line-height: 0.8;
    }

    .sidebar-nav .icon-home {
        font-size: 65px;
        margin-top: -9px;
    }

    .sidebar-nav .icon-folder {
        font-size: 55px;
    }

    .sidebar-nav .icon-file-text {
        font-size: 50px;
    }

    .sidebar-nav .icon-clipboard {
        font-size: 46px;
    }

    .sidebar-nav .icon-users {
        font-size: 45px;
    }

    .sidebar-nav .icon-calendar-1 {
        font-size: 50px;
    }

    .tooltip {
        display: none !important;
    }
}